body{
    background-color: #f5f3bb;
}

h2{
    color: #dfa06e;
}

h1{
    color: #412722;
}

p{
    color: #412722
}

.botaoCadastrar{
    text-align: center;
}

.meuFooter{
    background-color: #86ba90;
        color: #412722;
        text-align: center;
}

a:link {
  color: #dfa06e;
}

a:visited {
  color: #dfa06e;
}

a:hover {
  color: #412722;
}

a:active {
  color: blue;
} 